h1 {
    color: white;
	font-family: lexend;
	font-style: bond;
	font-size: 50px;
	line-height: 88px;
}

#bienvenida {
	background-position: letf;
	padding: 70px 30px;
	float: left;
}

/*estilo de titulos h2 y h3)*/
h2, h3 {
	color: #16B598;
	font-family: 'inconsolata';
	font-style: normal;
	font-weight: 700;
	font-size: 45px;
	line-height: 47px;
	text-align: center;
}

.dibujologin {
	width: 700px;
}

#datos {
	background-color: rgba(0, 0, 0, 0.69);
	background-size: cover;
	background-position: right top;
	width: 42%;
	height: 800px;
	float: right;
	padding-left: 11.25%;
	padding-top: 10%;
}

.barra {
	background-color: #198754;
	border-radius: 6px;
	color: white;
	border: solid 1px white;
	margin: 10px 0px 10px;
	height: 40px;
	width: 270px;
}

.ingresar {
	background-color: #F89C1F;
	border-radius: 17px;
	color: white;
	margin: 20px 0px 10px;
	border: solid 1px white;
	height: 40px;
	width: 140px;
}

p {
	color: white;
}

article a:link {
	color: blue;
}

